# Adapter config
adapter driver remote_bitbang
remote_bitbang host localhost
remote_bitbang port 9999

# TAP declaration
transport select jtag
set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x10002FFF

# Target creation
set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME

# Bring up sequence
 # init: connects, scans chain, examine target(INDCODE -> DTM, DM) internally
init
echo "+++Scan chain up, examing target+++"
halt
echo "+++Core halted+++"
reg pc
resume
echo "+++Core resumed+++"
shutdown
